:host {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr;
}

app-odds-panel {
  overflow-y: auto;
}

@media screen and (min-width: 800px) {
  :host {
    overflow: hidden;

    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  :host {
    grid-template-rows: 1fr auto;
  }

  app-table {
    position: sticky;
    top: 0;
  }
}
