@if (possibleMelds().length > 0) {
  <div
    class="meld-overlay"
    [class.above]="showAbove()"
    [style.left.px]="overlayLeft()"
    [style.top.px]="overlayTopPx()"
    (mouseenter)="overlayEnter.emit()"
    (mouseleave)="overlayLeave.emit()"
  >
    @for (meld of possibleMelds(); track $index) {
      <div
        class="meld-option"
        [class.chi]="meld.meldType === 'chi'"
        [class.pung]="meld.meldType === 'pung'"
        [class.kong]="meld.meldType === 'kong'"
        (click)="onSelectMeld(meld)"
      >
        <span class="meld-label">{{ meld.label }}</span>
        <div class="meld-tiles">
          @for (tile of meld.tiles; track tile.id) {
            <span class="meld-tile">{{ tile | tileDisplay }}</span>
          }
        </div>
      </div>
    }
  </div>
}
