<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Additional Points ({{ totalPoints() }})</mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <!-- 1-POINT RULES -->
    <div [class.hasPoints]="eyesSpecial() > 0">
      <b>Eyes (2,5,8 only)</b>: 1 point
    </div>
    <div [class.hasPoints]="pungOfDragons() > 0">
      <b>Pung of Dragons</b>: 1 point
    </div>
    <div [class.hasPoints]="pungOfTableOrOwnWind() > 0">
      <b>Pung of Table Wind or Own Wind</b>: 1 point
    </div>
    <div [class.hasPoints]="selfTouch() > 0"><b>Self Touch</b>: 1 point</div>
    <div [class.hasPoints]="singleCall() > 0"><b>Single Call</b>: 1 point</div>
    <div [class.hasPoints]="deadWallDraw() > 0">
      <b>Winning tile from dead wall</b>: 1 point
    </div>
    <div [class.hasPoints]="drawn15FromEnd() > 0">
      <b>Winning tile is 15th from end</b>: 1 point
    </div>
    <div [class.hasPoints]="allSimpleNumbers() > 0">
      <b>All simple numbers (2-8 only)</b>: 1 point
    </div>
    <div [class.hasPoints]="robbingKong() > 0">
      <b>Robbing the Kong</b>: 1 point
    </div>
    <div [class.hasPoints]="noWindsOrDragons() > 0">
      <b>No Winds or Dragons</b>: 1 point
    </div>
    <div [class.hasPoints]="terminalPungs() > 0">
      <b>Terminal Pungs in All Pung hand</b>: 1 point
    </div>
    <div [class.hasPoints]="twoSuitDragon() > 0">
      <b>Two Suit Dragon (1-9 using two suits)</b>: 1 point
    </div>
    <div [class.hasPoints]="littleFlower() > 0">
      <b>Little Flower (2 identical consecutive chis, different suits)</b>: 1
      point
    </div>
    <div [class.hasPoints]="ownFlower() > 0"><b>Own Flower</b>: 1 point</div>
    <div [class.hasPoints]="ownSeason() > 0"><b>Own Season</b>: 1 point</div>

    <!-- 2-POINT RULES -->
    <div [class.hasPoints]="bouquetGarden() > 0">
      <b>Bouquet/Garden (4 flowers or seasons)</b>: 2 points
    </div>
    <div [class.hasPoints]="doubleWinds() > 0">
      <b>Double Winds (pung/kong of any 2 winds)</b>: 2 points
    </div>
    <div [class.hasPoints]="twelveExposed() > 0">
      <b>Twelve Exposed Tiles</b>: 2 points
    </div>
    <div [class.hasPoints]="twins() > 0">
      <b>Twins (2 identical chis, same suit)</b>: 2 points
    </div>
    <div [class.hasPoints]="threeSuitDragon() > 0">
      <b>Three Suit Dragon (chis 1-9 from all 3 suits)</b>: 2 points
    </div>
    <div [class.hasPoints]="anyKong() > 0">
      <b>Any Kong (hidden or exposed)</b>: 2 points
    </div>

    <!-- 3-POINT RULES -->
    <div [class.hasPoints]="fiveDoors() > 0">
      <b>Five Doors (Wind, Dragon, Bamboo, Character, Dots)</b>: 3 points
    </div>
    <div [class.hasPoints]="clearDragon() > 0">
      <b>Clear Dragon (1-9 same suit)</b>: 3 points
    </div>
    <div [class.hasPoints]="threeSisters() > 0">
      <b>Three Sisters (3 similar chis from all 3 suits)</b>: 3 points
    </div>
    <div [class.hasPoints]="concealedMahjong() > 0">
      <b>Concealed Mahjong (all tiles self-drawn)</b>: 3 points
    </div>

    <!-- 4-POINT RULES -->
    <div [class.hasPoints]="sistersPung() > 0">
      <b>Sisters Pung (3 consecutive pung numbers, same suit)</b>: 4 points
    </div>
    <div [class.hasPoints]="brothersPung() > 0">
      <b>Brothers Pung (3 same number pungs from each suit)</b>: 4 points
    </div>

    <!-- 6-POINT RULES -->
    <div [class.hasPoints]="threeIdenticalChis() > 0">
      <b>Three identical chis (same suit)</b>: 6 points
    </div>
    <div [class.hasPoints]="kongOnKong() > 0">
      <b>Kong on Kong (replacement tile gives 2nd kong)</b>: 6 points
    </div>
  </div>
  <span>Total Additional Points: {{ totalPoints() }}</span>
</mat-expansion-panel>
