@use "@angular/material" as mat;

:host {
  box-sizing: border-box;
  position: relative;
}

.tile {
  position: relative;
  border: 0.0625rem solid black;

  &:hover {
    border: 0.125rem blue solid;
  }

  &.selected {
    border: 0.125rem green solid;
  }

  @include mat.button-overrides(
    (
      text-container-shape: 0.5rem,
      text-container-height: 5rem,
    )
  );

  .expose-icon {
    position: absolute;
    top: 0rem;
    right: -0.25rem;
    opacity: 0.25;
    color: #000;
  }
}
