:host {
  border: 0.25rem solid green;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-sizing: border-box;
}

.table-rows {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 1 auto;
}

.row {
  border: 0.15rem solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0; /* will be set by flex */
  flex: 1 1 0%;
}

.row.north {
  border-color: yellow;
}
.row.west {
  border-color: red;
}
.row.south {
  border-color: purple;
}
.row.east {
  border-color: blue;
}

.controls.extra {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  padding: 0.5rem;
}

.discard {
  display: none;
}
