<div class="across"></div>
<div class="right"></div>
<div class="left"></div>
<app-current-player class="player"></app-current-player>
<div class="discard"></div>
<div class="extra">
    <button (click)="onAddPlayers()">add players</button>
<button (click)="onPickup()">pickup</button>
</div>
<div class="odds">
    <h1>Hands:</h1>
    <h1>Additional points:</h1>
    <span>
        <h3>Eyes: Pair of only 2, 5, 8:</h3>
        <span>{{ tableStore.pairOfEyesOdds() | probability }}</span>
    </span>
    <span>
        <h3>Pung of Dragons:</h3>
        <span>{{ tableStore.pungOfDragonOdds() | probability }}</span>
    </span>
</div>