<h2 mat-dialog-title>Choose a tile</h2>
<mat-dialog-content>
<mat-form-field>
  <mat-label>Choose a tile</mat-label>
  <mat-select [(ngModel)]="selectedTileId">
    @for (tile of store.wall(); track tile.id) {
      <mat-option [value]="tile.id">{{ tile | tileDisplay: true }}</mat-option>
    }
  </mat-select>
</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton mat-dialog-close>Cancel</button>
  <button matButton [mat-dialog-close]="selectedTileId" cdkFocusInitial>Set</button>
</mat-dialog-actions>