<div>
  <div [class.hasHandScore]="allChi() > 0"><b>All Chi Hand</b>: 4 Chis + pair of Eyes, no Winds or Dragons</div>
  <div [class.hasHandScore]="mixedTwoSuit() > 0">
    <b>Mixed Two Suit Hand</b>: 4 melds + pair of Eyes, only two suits, no Winds
    or Dragons
  </div>
  <div [class.hasHandScore]="allPung() > 0">
    <b>All Pung Hand</b>: Mixed Suits, may include Winds and Dragons. Additional
    3 points if tiles are all either even or odd numbers.
  </div>
  <div [class.hasHandScore]="littleSevenPairs() > 0">
    <b>Little Seven Pairs</b>: 7 pairs in mixed Suits may include Winds and
    Dragons.
  </div>
  <div [class.hasHandScore]="bigSevenPairs() > 0">
    <b>Big Seven Pairs</b>: 7 pairs in number sequence. Mixed Suits but no Winds
    or Dragons.
  </div>
  <div [class.hasHandScore]="purityHand() > 0">
    <b>Purity Hand</b>: Chis, Pungs or Kongs all from one Suits. No Winds or
    Dragons.
  </div>
</div>
<span>Total Points: {{ totalPoints() }}
</span>
