<div>
  <div [class.hasSpecialHand]="thirteenOrphans() > 0">
    <b>13 Orphans</b>: 1 of each Wind & Dragon + 1 of numbers 1 & 9 of each suit & 1 other tile to make an Eye
  </div>
  <div [class.hasSpecialHand]="heavensHand() > 0">
    <b>Heaven's Hand</b>: East Wind Mahjong's before first tile is discarded
  </div>
  <div [class.hasSpecialHand]="earthsHand() > 0">
    <b>Earth's Hand</b>: East Wind Mahjong's with tile from dead wall, before first tile is discarded
  </div>
  <div [class.hasSpecialHand]="allHiddenPungKong() > 0">
    <b>All Hidden Pung/Kong Hand</b>: 4 hidden Pungs or Kongs plus drawing the last tile to complete Eyes, from the wall. All from same suit.
  </div>
  <div [class.hasSpecialHand]="fourSmallWinds() > 0">
    <b>4 Small Winds</b>: Pung/Kong of 3 Winds with Eyes of the 4th Wind. Must have another Pung/Chi.
  </div>
  <div [class.hasSpecialHand]="fourBigWinds() > 0">
    <b>4 Big Winds</b>: Pung or Kong of each Wind plus Eyes
  </div>
  <div [class.hasSpecialHand]="threeBigDragons() > 0">
    <b>3 Big Dragons</b>: Pung/Kong of each Dragon plus Eyes & another Pung, Kong or Chi of any Suit.
  </div>
  <div [class.hasSpecialHand]="allTerminalHand() > 0">
    <b>All Terminal Hand</b>: Pungs, Kongs and Eyes of terminal numbers 1 and 9, from mixed suits
  </div>
  <div [class.hasSpecialHand]="allHonoursHand() > 0">
    <b>All Honours Hand</b>: Pungs and Kongs and Eyes of Honour tiles, i.e. Winds and Dragons only
  </div>
  <div [class.hasSpecialHand]="nineConnectedSons() > 0">
    <b>9 Connected Sons</b>: 1, 1, 123456789, 9, 9 in one suit plus one other tile to make Eyes
  </div>
</div>
<span>Total Special Points: {{ totalPoints() }}</span>
