<h1>Hands:</h1>
    <h1>Additional points:</h1>
    <span>
        <h3>Eyes: Pair of only 2, 5, 8: (1)</h3>
        <span>{{ tableStore.pairOfSpecialEyesOdds() | probability }}</span>
    </span>
    <span>
        <h3>Pung of Dragons: (1)</h3>
        <span>{{ tableStore.pungOfDragonOdds() | probability }}</span>
    </span>
    <span>
        <h3>Pung of Table Wind or Own Wind: (1)</h3>
        <span>{{ tableStore.pungOfTableOrOwnWindOdds() | probability }}</span>
    </span>
    <span>
        <h3>Self Touch (winning tile drawn from wall): (1)</h3>
        <span>{{ tableStore.drawnFromWall() | probability }}</span>
    </span>
    <span>
        <h3>Single Call: (1)</h3>
        <span>Was this the only possible tile you could mahjong with?</span>
    </span>
    <span>
        <h3>Winning tile drawn from dead wall: (1)</h3>
        <span>{{ tableStore.drawnFromWall() | probability }}</span>
    </span>
    <span>
        <h3>Winning tile is 15th from the end: (1)</h3>
        <span>{{ tableStore.drawn15FromEnd() | probability }}</span>
    </span>
    <span>
        <h3>All tiles are simple numbers (2-8): (1)</h3>
        <span>{{ tableStore.simpleNumbersOdds() | probability }}</span>
    </span>
    <span>
        <h3>Robbing the Kong: (1)</h3>
        <span>Did your winning tile come from someone else's Kong?</span>
    </span>
    <span>
        <h3>No Winds or Dragons: (1)</h3>
        <span>{{ tableStore.noWindsOrDragonsOdds() | probability }}</span>
    </span> 
    <span>
        <h3>Terminal Pungs/Kongs: (1)</h3>
        <span>{{ tableStore.terminalPungsKongsOdds() | probability }}</span>
    </span>